<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servizio di prenotazione dentista </title>

    <!-- BOOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Pare che questo slot orario sia già stato prenotato da un altro cliente, per favore scegliere un'altra fascia oraria</h1>
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
        Torna indietro
    </a>
</div>
</body>
</html>