<div class="jumbotron">
    <h1 class="display-4">Benvenuti dal dentista!</h1>
    <p class="lead">In questo portale sarà possibile prenotare gli appuntamenti!.</p>
    <hr class="my-4">
    <p>Per noi la privacy dei clienti è fondamentale, quindi i dati immessi non saranno condivisi a parti terze.</p>
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
        Prenota qui
    </a>
</div>